@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Rubik:wght@300&display=swap");
body {
  font-family: "Lora", Georgia, serif;
  background-color: #168;
  color: #ee2;
  font-size: 16px;
}
header {
  display: block;
  margin-bottom: 1px;
}
address {
}
nav {
  font-family: "Rubik", Verdana, sans-serif;
  margin-right: 10px;
  display: block;
  width: 18%;
  float: left;
}
section {
  display: block;
  width: 70%;
  float: right;
}
a {
  text-decoration: none;
  color: #ff2;
}
a:visited {
  text-decoration: none;
  color: #dd2;
}
ol,
ul {
  line-height: 200%;
}
nav ul {
  color: #fd2;
  line-height: 230%;
  margin-top: 40px;
  list-style-type: square;
}
.ender {
  font-size: 14px;
  line-height: 140%;
  float: right;
  text-align: right;
}
.imgLogo {
  border-bottom: 3px solid #ff2;
  margin-bottom: 4px;
  padding-bottom: 5px;
}
.apres {
  text-align: center;
  font-size: 18px;
}
.Titulo {
  text-align: center;
}
.preco {
  color: #e00;
  font-weight: bold;
  vertical-align: middle;
}
.listMemo {
  font-family: "Rubik", Verdana, sans-serif;
  width: 340px;
  color: #a00;
  background-color: #eee;
  padding: 10px 10px 10px 50px;
  border: 4px solid #005;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: decimal;
}
.listMemo li::marker {
  font-size: 24px;
  font-weight: bold;
}
.listMemo ul {
  color: #145;
  list-style-type: disc;
}
.tabDisco {
  font-family: "Rubik", Verdana, sans-serif;
  border: thin solid;
  border-collapse: collapse;
  margin-top: 6px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  color: #006;
  font-size: 14px;
  font-weight: bold;
}
.tabDisco td,
th {
  border: 3px solid #269;
  padding: 6px 12px 6px 12px;
}
.tabDisco .valor {
  color: #e00;
}
.tabDisco .titulo {
  color: #ff0;
  background-color: #295;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}
.tabDisco .linTH {
  color: #fff;
  background-color: #2b6;
  vertical-align: middle;
  text-align: center;
}
.tabDisco .colTH {
  color: #fff;
  background-color: #29d;
  text-align: left;
}
.tabDisco .imgDisco {
  width: 70px;
  height: 70px;
}
.FormBox {
  width: 520px;
  background-color: #3bb;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  border: 3px solid #ee2;
}
.FSLinhaInteira {
  color: #fff;
  width: 490px;
  text-align: left;
}
.FSColEsq {
  width: 210px;
  float: left;
}
.FSColDir {
  width: 210px;
  float: right;
}
.FSColDir div,
.FSColEsq div {
  text-align: center;
}
fieldset .LinhaForm {
  margin: 0px;
  height: 30px;
  padding: 6px 3px 0px 3px;
}
fieldset .ColEsq {
  width: 180px;
  float: left;
  display: block;
}
fieldset .ColDir {
  width: 180px;
  float: right;
  display: block;
}
fieldset .LabBox {
  width: 80px;
  float: left;
  display: block;
}
.botoes {
  text-align: right;
  margin: 20px 10px 0px 10px;
}
fieldset .InpBoxGnd {
  width: 384px;
  float: right;
  display: block;
}
fieldset .InpBoxMed {
  width: 80px;
  float: right;
  display: block;
}
fieldset .numDD {
  width: 35px;
}
fieldset .numQD {
  width: 50px;
}
